.mail-preview {
    display: flex;
    padding: 0px 10px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    transition: 0.2s;
    border-bottom: 1px solid var(--clr-default);
}

.mail-preview img {
    width: 15px;
}

.mail-preview button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.1s;
    padding: 0;
    margin-inline-end: 5px;
    transition: 0.1s;
    border-radius: 2em;
    padding: 3px;
}

.mail-preview .star img:hover {
    animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes rotate-90-cw {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

.mail-preview.not-read {
    font-family: roboto-bold;
}

.mail-preview.read {
    font-family: roboto-light;
}


.mail-preview:hover {
    animation: shadow-drop-2-center 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color: rgb(249, 247, 251);
}

@keyframes shadow-drop-2-center {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
}



.sent-from {
    width: 150px;
    font-size: 18px;
    margin-inline-end: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-preview .sent-at {
    font-family: roboto-light;
    width: 150px;
    flex-direction: row-reverse;
    font-size: 13px;

}

.subject {
    width: 150px;
    margin-inline-end: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-body {
    flex: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}