.mail-preview {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    transition: 0.2s;
    border-bottom: 1px solid var(--clr-default);
}

.label-btns {
    display: flex;
    flex-direction: column;
}

.mail-preview img {
    width: 15px;
}

.mail-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.mail-preview button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.1s;
    padding: 0;
    margin-inline-end: 5px;
    transition: 0.1s;
    border-radius: 2em;
    padding: 3px;
}

.mail-preview .star img:hover {
    animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes rotate-90-cw {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

.mail-preview.not-read {
    font-family: roboto-bold;
}

.mail-preview.read {
    font-family: roboto-light;
    background-color: rgb(251, 248, 255);
}


.mail-preview:hover {
    animation: shadow-drop-2-center 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color: rgb(249, 247, 251);
}

@keyframes shadow-drop-2-center {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
}

.sent-from {
    width: 150px;
    font-size: 18px;
    padding-inline-end: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-preview .sent-at {
    display: flex;
    font-family: roboto-light;
    align-self: end;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

.subject {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline-end: 5px;
}

.mail-body {
    font-family: roboto-light;
    flex: 1;
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-inline-end: 20px;
}


@media (min-width: 750px) {
    .mail-preview {
        align-items: center;
        height: 50px;
    }

    .label-btns {
        flex-direction: row;
    }

    .mail-info {
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
    }

    .subject {
        max-width: 130px;
    }
}


