.user-options div {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1em 0;
    border-radius: 2em;
    margin-inline-end: 20px;
    margin-bottom: 5px;
    transition: 0.2s;
    position: relative;
    left: -50px;
    padding-inline-start: 50px;
    padding-inline-end: 20px;
}

.user-options div:focus {
    background-color: var(--clr-main);
    color: white;
}

.user-options div:hover {
    background-color: var(--clr-main);
    color: white;
}

.user-options {
    width: 0;
    overflow: hidden;
    flex-direction: column;
    margin-top: 90px;
    z-index: 100;
}

.user-options.open {
    width: 20%;
    position: fixed;
    margin-top: 80px;
    height: 100%;
    overflow: visible;
    background-color: var(--clr-default);
    width: fit-content;
}


.user-options img {
    width: 20px;
    margin-inline-end: 10px;
}


.sort-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    padding-inline-start: 5px;
}

.unread-mails {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 15px;
    color: rgb(254, 92, 125);
}

.unread-mails:hover {
    color: rgb(254, 92, 125);
}

@media (min-width: 750px) {
    .user-options {
        width: fit-content;
        overflow: visible;
        display: flex;
        z-index: 0;
    }

    .mail-hamburger {
        display: none;
    }
}
