.send-mail {
    width: 350px;
    flex-direction: column;
    background-color: var(--clr-main);
    position: fixed;
    bottom: 10px;
    left: 5px;
    border-right: 1px solid var(--clr-main) ;
    border-left: 1px solid var(--clr-main) ;
    border-bottom: 1px solid var(--clr-main) ;
}

.send-mail div {
    padding: 0.5em 5px;

}

.send-mail input {
    width: 100%;
    border: 0;
}

.send-mail .mail-text-area {
    background-color: white;
    padding-bottom: 0;
}

.mail-title {
    padding: 3px, 0;
    border-bottom: 1px solid var(--clr-default);
    background-color: var(--clr-main);
    justify-content: space-between;
    align-items: center;
    font-family: roboto-thin;
    font-size: 15px;

}

.mail-title span {
    color: white;
}

.mail-title button {
    background-color: var(--clr-main);
    border: none;
    color: white;
}

.send-to,
.mail-subject {
    border-bottom: 1px solid var(--clr-default);
    background-color: white;
}

.send-mail .btns {
    display: flex;
    background-color: white;
    padding-bottom: 10px;
    padding-inline-end: 10px;
    justify-content: space-between;
    border-top: 1px solid var(--clr-default);
}

.btns button {
    background-color: var(--clr-main);
    padding: 10px 20px;
    border: 0;
    color: white;
    border-radius: 2em;
}

.mail-text-area {
    min-height: 350px;
    word-wrap: break-word;
}

.mail-text-area div {
    padding: 0;
}

.mail-text-area p {
    min-height: 400px;
}

.send-mail .img-upload-container {
    padding: 0;
    width: 30px;
}

.send-mail .import-img-input {
    width: 30px;
}

.send-mail .import-img-icon {
    width: 30px;
}

.send-mail .mail-img-area {
    width: 200px;
}


@media (min-width: 750px) {
    .send-mail{
        width: 550px;
        left: 20%;
    }
}