.mail-preview {
    display: flex;
    padding: 0px 10px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    transition: 0.2s;
    border-bottom: 1px solid var(--clr-default);
}

.mail-preview img {
    width: 15px;
}

.mail-preview button {
    border: 0;
    background-color: white;
    transition: 0.2s;
    padding: 0;
    margin-inline-end: 5px;
    transition: 0.3s;
    border-radius: 2em;
    padding: 3px;
}

.mail-preview .star img:hover {
    animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes rotate-90-cw {
    0% {
              transform: rotate(0);
    }
    100% {
              transform: rotate(90deg);
    }
  }
  
  


.mail-preview.not-read {
    font-family: roboto-bold;
}

.mail-preview.read {
    font-family: roboto-light;
}


.mail-preview:hover {
    transform: scale(1.000005);
    box-shadow: 2px 1px 20px -11px rgba(0, 0, 0, 0.42);
}

.sent-from {
    flex: 1;
    font-size: 18px;
}

.mail-preview .sent-at {
    flex: 0.5;
    flex-direction: row-reverse;
    font-size: 15px;
}

.subject {
    flex: 1;
    margin-inline-end: 5px;
}

.mail-body {
    flex: 2.5;
}