.home {
    margin-top: 50px;
    text-align: center;
}

.home-img-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 50px;

}

.home-img-container img {
    width: 80%;
    cursor: pointer;
    transition: 0.2s;
}

.home-img-container img:first-child {
    padding-bottom: 50px;
}

.home-img-container div {
    animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    color: var(--clr-main);
    transition: 0.3s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.home h1 {
    font-size: 30px;
}

.home h1 span {
    font-family: oleo;
}

.home p {
    font-size: 20px;
}