.home {
    margin-top: 50px;
    text-align: center;
}

.home-img-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 50px;

}

.home-img-container img {
    width: 80%;
    cursor: pointer;
    transition: 0.2s;
}

.home-img-container img:first-child {
    padding-bottom: 50px;
}

.home-img-container div {
    color: var(--clr-main);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.home-img-container div:hover {
    transform: scale(1.3);
}


.home h1 {
    font-size: 30px;
}

.home h1 span {
    font-family: oleo;
}

.home p {
    font-size: 20px;
}