.note-add-box {
    padding: 10px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border-color: #e0e0e0;
    background-color: #fff;
    border: 1px solid transparent;
    cursor: text;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    justify-content: space-between;

}
/* .note-add-box > *:not(:)  { */
    /* justify-content: flex-end; */
/* } */

.note-add {
    width: 60%;
    justify-content: center;
    flex: 3;
    
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(datatext)
}

.adding-note-txt {
    position: relative;
    padding: 20px;
    border: 1px solid transparent;
    border-color: #e0e0e0;
    background-color: #fff;
    border-radius: 8px;
    cursor: default;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.import-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.import-img-icon {
    width: 25px;
    height: 25px;
    position: absolute; 
       
}

.import-img-input {
    
    width: 35px;
    height: 35px;
    opacity: 0;
}

.add-note-btn {
    cursor: pointer;
    width: 50px;
    position: absolute;
    right: -22px;
    bottom: -22px;
}

.adding-notes-tooltip {
    display: flex;
}

.note-todos-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-todos-icon-container img {
    width: 25px;
    height: 25px;
    cursor: default;
}

.add-todo-img-container {
    width: 25px;
    height: 25px;
}

.note-video-icon {
    width: 25px;
    height: 25px;
    cursor: default;
}

.note-video-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}