.note {
  position: relative;
  padding: 20px;
  border: 1px solid transparent;
  border-color: #e0e0e0;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  cursor: default;
}

.note:hover {
  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.35);
  }
}


.note-img {
  position: relative;
  border: 1px solid transparent;
  border-color: #e0e0e0;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.note-img:hover {
  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.todo-container {
  display: flex;
  column-gap: 10px;
  list-style-type: none;
}

.note-preview {
  margin-bottom: 10px;
}

.note-img h3 {
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.note-img p {
  padding-left: 10px;
  margin-top: 0;
}

.note h3 {
  cursor: text;
}
