.note-edit {
    display: flex;
    position: relative;
    bottom: 0;
}

.note-edit img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
}

.input-background-color {
    width: 30px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}

.note-img .note-edit {
    padding-left: 10px;
    padding-bottom: 10px;
}

.add-label {
    padding-left: 30px;
}

.make-pinned {
    padding-left: 30px;
}

.send-note-mail {
    padding-left: 30px;
}