.mail-index {
    display: flex;
    flex-direction: row;
}


.mail-index button img {
    width: 15px;
}


.mail-index .compose {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    font-family: roboto-medium;
    border: none;
    font-size: 18px;
    border-radius: 2em;
    transition: 0.2s;
    background-color: var(--clr-main);
    color: var(--clr-default);
}

.user-options .compose img{
    margin: 0;
}

