* {
    box-sizing: border-box;
}

:root {
    --clr-default: rgb(240, 240, 240);
    --clr-main: rgb(110, 71, 238);
}

html {
    font-family: roboto-light;
    overflow-x: hidden;
}

body {
    background-color: var(--clr-default);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
    font-family: roboto-light;
}