header {
    background: var(--clr-default)
    /* border-bottom: 2px solid white; */
}

.app-header {
    padding: 20px 0;
    border-bottom: 2px solid rgb(172, 172, 172);
}

.app-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-inline-start: 1em;
    font-size: 20px;
    padding-bottom: 10px;
}

nav a:hover {
    color: rgb(110, 71, 238);
    box-shadow: inset 0px -2px 0px 0px rgb(110, 71, 238);
}

nav a.active {
    color: rgb(138, 71, 238);
    box-shadow: inset 0px -2px 0px 0px rgb(110, 71, 238);
}

.app-header h3 {
    color: rgb(110, 71, 238);
    font-family: oleo;
    font-size: 40px;
}