header {
    background: var(--clr-default)
    /* border-bottom: 2px solid white; */
}

.app-header {
    padding: 20px 0;
    border-bottom: 2px solid rgb(172, 172, 172);
}

.app-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-inline-start: 1em;
    font-size: 20px;
    padding-bottom: 10px;
}

nav a:hover {
    color: var(--clr-main);
    box-shadow: inset 0px -2px 0px 0px var(--clr-main);
}

nav a.active {
    color: var(--clr-main);
    box-shadow: inset 0px -2px 0px 0px var(--clr-main);
}

.app-header h3 {
    color: var(--clr-main);
    font-family: oleo;
    font-size: 40px;
}

.app-header div {
    display: flex;
}

.app-header img {
    bottom: -10px;
    position: relative;
    width: 60px;
    margin-inline-start: 5px;
}