.main-footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: rgb(36, 36, 36);
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.main-footer h3 {
    margin: 20px;
    font-family: oleo;
    font-size: 25px;
    color: var(--clr-main);
}

.main-footer img {
    width: 80px;
    
}

.main-footer h4 {
    color: var(--clr-default);
}

.main-footer small {
    color: var(--clr-default);
    margin-bottom: 10px;
}