.user-msg {
    background-color: lightgray;
    padding: 5px;
    position: absolute;
    top: 130px;
    left: 1em;
    z-index: 1000;
}

.user-msg.success {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--clr-main);
    color: white;
}

.user-msg.error {
    background-color: lightpink;
}


.user-msg button {
    float: right;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
}